* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
}

.header {
    grid-area: header;
    padding: 20px;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
}

.top {
    margin-bottom: 15px;
}

.greeting,
.user1, 
.user2,
.user3,
.user4 {
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 1rem;
}

.greeting span,
.user span {
    grid-row: span 2;
}

.sidebar {
    grid-area: sidebar;
    padding: 20px;
    padding-right: 60px;
}

ul {
    list-style-type: none;
}

.dashboard,
.links {
    margin-bottom: 40px;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
    gap: 2em;
}

.card-grid {
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    gap: 2em;
}

.card {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
}

.announcements {
    grid-area: announcements;
}

.announcements .announce {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
}

.trending {
    grid-area: trending;
}

.trending .user {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
}

