:root {
    --avatar1: url(./images/hacker-avatar.jpg);
    --avatar2: url(./images/man-avatar.jpg);
    --avatar3: url(./images/man2-avatar.jpg);
    --avatar4: url(./images/man3-avatar.jpg);
}

* {
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
}

.header {
    grid-area: header;
    padding: 20px 70px 20px 50px;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search,
.notif {
    display: flex;
    gap: 1em;
    font-size: 20px;
    align-items: center;
    padding: 5px;
}

.search input {
    border: none;
    font-size: 20px;
    background-color: #dfdfdf;
    border-radius: 10px;
    width: 600px;
}

.top {
    margin-bottom: 15px;
    padding-right: 40px;
}

.notif .pic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: var(--avatar1);
    background-size: cover;
}

.buttons {
    display: flex;
    gap: 1em;
}

button {
  border: none;
  border-radius: 100px;
  font-size: 14px;
  width: 100px;
  padding: 8px 20px;
  text-align: center;
}

.greeting,
.trend {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.greeting .pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-image: var(--avatar1);
    background-size: cover;
}

.greeting span,
.user span {
    grid-row: span 2;
}

.sidebar {
    grid-area: sidebar;
    padding: 20px 40px;
}

ul {
    list-style-type: none;
}

.dashboard h1 {
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    gap: 0.5em;
}

.dashboard,
.links {
    margin-bottom: 40px;
}

.links li {
    display: flex;
    gap: 1.5em;
    font-size: 18px;
    margin-bottom: 12px;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "projects announcements"
        "projects trending";
    gap: 2em;
    padding: 20px 40px 50px 20px;
}

.card-grid {
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    gap: 2em;
}

.card {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
}

.project-icon {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
}

.announcements {
    grid-area: announcements;
    margin-bottom: 30px;
}

.announcements .announce {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
}

.trending {
    grid-area: trending;
}

.trend .pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.user1 .pic {
    background-image: var(--avatar2);
    background-size: cover;
}

.user2 .pic {
    background-image: var(--avatar4);
    background-size: cover;
}

.user3 .pic {
    background-image: var(--avatar3);
    background-size: cover;
}

.user4 .pic {
    background-image: var(--avatar1); 
    background-size: cover;
}

.trending .user {
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
}

